Project1/Manufacturing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Manufacturing" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/Manufacturing"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Manufacturing">
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="ManufacturingPortType">
        <wsdl:operation name="manufacturing">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
        <wsdl:operation name="getManufacturedAutomobile">
            <wsdl:input message="tns:start"/>
            <wsdl:output message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ManufacturingPortTypeCallBack"/>
    <plnk:partnerLinkType name="ManufacturingPortTypePartnerLinkType">
        <plnk:role name="ManufacturingPortTypeProvider">
            <plnk:portType name="tns:ManufacturingPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
