Project1/Mediator2.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="Mediator2"
     targetNamespace="http://xmlns.oracle.com/AutomotiveManufacturer/Project1/Mediator2"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/singleString"
     xmlns:tns="http://xmlns.oracle.com/AutomotiveManufacturer/Project1/Mediator2"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/singleString" schemaLocation="xsd/singleString.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="callback" element="inp1:singleString"/>
    </wsdl:message>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:singleString"/>
    </wsdl:message>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
